html {
    box-sizing: border-box;
}
*, :after, :before { box-sizing: border-box; 
}

body {
    background-color: rgb(245, 243, 243);
}


.telo {
    
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}

h1 {
    max-height: 100px;
    font-size: 40px;
    color: rgb(0,35,156);
    background-image: url(header1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    text-align: center;
    padding:2em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}


.fotka img{
    max-width: 100%;
    height: auto;
}

.tlacitka{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 400px;
    
}

.tlacitko1 {
    background-color:rgb(244,152,1);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    margin-top: 5px;
    padding:0;
    
}

.tlacitko2 {
    background-color:rgb(0,35,156);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    padding: 0;
    
}

    
a {
    text-decoration:none;
    color: white;
    font-size: 20px;
    padding: 1em;
    margin: 0;
}

.tlacitko1:hover {
    background-color:grey;

}

.tlacitko2:hover {
    background-color:grey;

}

.footer {
    color:grey;
    display: flex;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
}

@media (max-width:900px) {
    h1 {
        font-size: 30px;
        padding: 3em;
        margin:0;
        margin-bottom:10px;

    }

}

@media (max-width:460px) {
    h1 {
        font-size: 20px;
        padding: 1em;
        padding-top:2em;
        margin:0;
    }

    .tlacitka {
        max-width: 300px;
    }
}

